.community-root{
    width:100%;
    height:100%;
    display:flex;
    background-color:#F3F3F3;
    justify-content: center;
    font-family:'Gmarket Sans';
}

.container{
    flex-direction: column;
}
.post{
    width:400px;
    height:550px;
    background-color:white;
    border : 1px solid #C4C4C4;
    border-radius:10px;
    margin-top:20%;
}
.profile{
    position: relative;
    width:100%;
    height:40px;
    border-bottom:1px solid #C4C4C4;
}
.name {
    position: absolute;
    display: inline;
    top: 15px;
    left: 45px;
}
.profile > img{
    position: absolute;
    margin: 10px;
}
.post_img > img {
    width:100%;
}
.post_bottom > img{
    margin-left : 10px;
}
.post_bottom_txt {
    margin-left : 10px;
    margin-top:5px;
    font-size:13px;
}