@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .btn {
    position: relative;
    width: 250px;
    height: 65px;
    background: white;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid black;
    margin: 50px 105px 20px 0;
    float: right;
    color: black;
    box-shadow:0px 3px 5px gray;
  }
  .btn > p {
    position: absolute;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    width: 190px;
    height: 23px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
  
  }
  .btn > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 95px;
  }
  .images {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 340px);
  }
  .obj {
    width: 300px;
    height: 300px;
    background: grey;
    margin: 20px;
    border-radius: 10px;
    box-shadow:0px 3px 6px black;
  }
  .obj:nth-child(1) {
    background-image: url('C:\Users\user\Desktop\TP\Eco-City-made-by-me-v2\public\main1.png');
    background-size: cover;
  }
  .obj:nth-child(2) {
    background-image: url('C:\Users\user\Desktop\TP\Eco-City-made-by-me-v2\public\main2.png');
    background-size: cover;
  }
  .obj:nth-child(3) {
    background-image: url('C:\Users\user\Desktop\TP\Eco-City-made-by-me-v2\public\main3.png');
    background-size: cover;
  }
  .obj:nth-child(4) {
    background-image: url('C:\Users\user\Desktop\TP\Eco-City-made-by-me-v2\public\main4.png');
    background-size: cover;
  }
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }